@model PhoneShop.Models.Account
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
  
</style>

<form asp-action="Create" asp-controller="Account" method="post" >
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng Ký</h1>
    

@*     <input type="text" id="user-name" class="form-control" required placeholder="Nhập họ và tên (Bắt buộc)" autofocus="" name="FullName">
    <input type="text" id="user-email" class="form-control" placeholder="Nhập Email (Bắt buộc)" required autofocus="" name="Email">
    <input type="password" id="user-pass" class="form-control" placeholder="Nhập mật khẩu (Bắt buộc)" required autofocus="" name="Password">
    <i style="color:red">(*) Mật khẩu tối thiểu 6 ký tự (VD: 123456)</i>
    <input type="password" id="user-pass" class="form-control" placeholder="Nhập lại mật khẩu (Bắt buộc)" required autofocus="" name="ComfirmPass">

    <input type="text" id="user-repeatpass" class="form-control" placeholder="Nhập số điện thoại (Bắt buộc)" required autofocus="" name="Phone"> *@


   
    <div class="form-group">
        <input type="text" id="FullName" required placeholder=" " name="FullName">
        <label style="color:black" for="FullName">Nhập họ và tên <span style="color:red">*</span></label>
    </div>
    <div class="form-group">
        <input type="text" id="Email" required placeholder=" " name="Email">
        <label style="color:black" for="Email">Nhập Email <span style="color:red">*</span></label>
    </div>
    <div class="form-group">
        <input type="password" id="Password" required placeholder=" " name="Password">
        <label style="color:black" for="Password">Nhập mật khẩu <span style="color:red">*</span></label>
        <i class="fas fa-eye toggle-password" id="togglePassword1"></i>

        <i style="color:#c1c1d7">Mật khẩu tối thiểu 6 ký tự (VD: 123456)</i>

    </div>
    <div class="form-group">
        <input type="password" id="ComfirmPass" required placeholder=" " name="ComfirmPass">
        <label style="color:black" for="ComfirmPass">Nhập lại mật khẩu <span style="color:red">*</span></label>
        <i class="fas fa-eye toggle-password" id="togglePassword2"></i>

    </div>
    <div class="form-group">
        <input type="text" id="phone" required placeholder=" " name="Phone">
        <label style="color:black" for="phone">Nhập số điện thoại<span style="color:red">*</span></label>
    </div>
   
    <label style="color:red">
    
            <div class="error-message">
            @if (TempData["Error_"] != null)
            {

                @TempData["Error_"]
                
            }
           
            </div>
        
    </label><br>
    <hr>
    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Đăng ký</button>
    <a href="/Login.html"><i class="fas fa-angle-left"></i> Trở về</a>
</form>
<script>
    const togglePassword = document.getElementById('togglePassword1');
    const passwordInput = document.getElementById('Password');

    togglePassword.addEventListener('click', function () {
        // Chuyển đổi giữa hiển thị và ẩn mật khẩu
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script>
    const togglePassword = document.getElementById('togglePassword2');
    const passwordInput = document.getElementById('ComfirmPass');

    togglePassword.addEventListener('click', function () {
        // Chuyển đổi giữa hiển thị và ẩn mật khẩu
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>