@model PhoneShop.ModelViews.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<form class="form-signin" asp-action="Login" asp-controller="Account" method="post" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng Nhập</h1>
    <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i>Đăng nhập với Facebook</span> </button>
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i>Đăng nhập với Google+</span> </button>
    </div>
    <p style="text-align:center"> Hoặc    </p>
   @*  <input type="text" id="inputEmail" value="lenhi@gmail.com" name="Email" class="form-control" placeholder="Email/Sô điện thoại/Tên đăng nhập"  autofocus="">
    <input type="password" id="inputPassword" value="123456" name="Password" class="form-control" placeholder="Password" required=""> *@

    <div class="form-group">
        <input type="text" id="FullName" required placeholder=" " value="lenhi@gmail.com" name="Email">
        <label style="color:#c1c1d7" for="FullName">Email Đăng Nhập</label>
    </div>

    <div class="form-group">
        <input type="text" id="FullName" required placeholder=" " value="123456" name="Password">
        <label style="color:#c1c1d7" for="FullName">Mật Khẩu</label>
    </div>

    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Đăng nhập</button>
    <label style="color:red">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="error-message">
                @ViewBag.Error
            </div>
        }
    </label><br>
    <hr>
    <!-- <p>Don't have an account!</p>  -->
    <a class="btn btn-primary btn-block" href="/Account/Index" style="color:white"><i class="fas fa-user-plus"></i> Tạo tài khoản</a>
    <a href="~/"><i class="fas fa-angle-left"></i> Trở về </a>
</form>
