@model PhoneShop.ModelViews.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<form class="form-signin" asp-action="Login" asp-controller="Account" method="post" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
    </div>
    <p style="text-align:center"> OR  </p>
    <input type="text" id="inputEmail" name="Email" class="form-control" placeholder="Email/Sô điện thoại/Tên đăng nhập"  autofocus="">
    <input type="text" id="inputPassword" name="Password" class="form-control" placeholder="Password" required="">

    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    <label style="color:red">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="error-message">
                @ViewBag.Error
            </div>
        }
    </label><br>
    <hr>
    <!-- <p>Don't have an account!</p>  -->
    <a class="btn btn-primary btn-block" style="color:white" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</a>
</form>