@model PhoneShop.Models.Account
@{
    ViewData["Title"] = "a";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("MenuUtilities")

<style>
    .notification {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 400px;
    }

        .notification p {
            font-size: 12px;
            color: #333;
        }

   
    .submit-spp{
        background: #ee4d2d;
        color: #fff;
        outline: 0;
        overflow: visible;
        position: relative;
    }
    .profile-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        min-height:600px;
        margin:auto
    }

    .profile-header {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }

    .profile-info {
        margin: 5px 0;
        font-size: 16px;
        color: #555;
    }

    .profile-form-group {
        margin-bottom: 15px;
    }

    .profile-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .profile-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        color: #333;
    }

        .profile-input:focus {
            border-color: #007bff;
            outline: none;
        }

    .profile-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .profile-button:hover {
            background-color: #0056b3;
        }

    
</style>

<div class="profile-container">
    <h1 class="profile-header">Hồ Sơ Của Tôi</h1>

    @if(ViewBag.CheckBooth != null)
    {
        <div class="notification">
            <p>Tài Khoản Của Bạn Hiện Đang Liên Kết Với Gian Hàng <a style="color:red" href="/Home_Seller">Xem Ngay</a></p>

        </div>
    }
   
    <p class="profile-info">Email/Tên Đăng Nhập: @Model.Email</p>
    <p class="profile-info">Ngày tạo: @Model.CreateDate</p>
    <form asp-action="Update" asp-controller="Account" method="post">
        <input type="hidden" asp-for="Id">
        <div class="profile-form-group">
            <label for="name" class="profile-label">Tên:</label>
            <input type="text" asp-for="FullName" class="profile-input" placeholder="Nhập họ và tên" required>
        </div>
        <div class="profile-form-group">
            <label for="Phone" class="profile-label">Số điện thoại:</label>
            <input type="text" asp-for="Phone" class="profile-input" placeholder="Nhập số điện thoại" required>
        </div>

        <div class="profile-form-group profile-button-group">
            <button type="submit" class="submit_spp">Lưu</button>
        </div>
       
    </form>
</div>
