@model PhoneShop.Models.Account
@{
    ViewData["Title"] = "a";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("MenuUtilities")

<style>
   

    /* Form đổi mật khẩu */
    #change-password-form {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

   

        .btn:hover {
        background-color: #5a88ca;
        }
    .notification {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 400px;
    }

        .notification p {
            font-size: 12px;
            color: #333;
        }

   
    .submit-spp{
        background: #ee4d2d;
        color: #fff;
        outline: 0;
        overflow: visible;
        position: relative;
    }
    .profile-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        min-height:600px;
        margin:auto
    }

    .profile-header {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }

    .profile-info {
        margin: 5px 0;
        font-size: 16px;
        color: #555;
    }

    .profile-form-group {
        margin-bottom: 15px;
    }

    .profile-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .profile-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        color: #333;
    }

        .profile-input:focus {
            border-color: #007bff;
            outline: none;
        }

    .profile-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .profile-button:hover {
            background-color: #0056b3;
        }


    .container_ac {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .label_ac {
        margin-right: 10px;
        color: #666;
    }

    .input-box_ac {
        width: 300px;
        height: 30px;
        border: 1px solid #ccc;
        padding: 5px;
    }



    
</style>

<div class="profile-container">
    <h1 class="profile-header">Hồ Sơ Của Tôi</h1>
    <div style="text-align:center;font-size: 12px">
        <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>

    </div>
    @if(ViewBag.CheckBooth != null)
    {
        <div class="notification">
            <p>Tài Khoản Của Bạn Hiện Đang Liên Kết Với Gian Hàng <a style="color:red" href="/Home_Seller">Xem Ngay</a></p>

        </div>
    }
   
   
    <div class="ctn-info" style="margin-left: 20px;">
        <p class="profile-info">Email/Tên Đăng Nhập: @Model.Email</p>
        <p class="profile-info">Ngày tạo: @Model.CreateDate</p>
    </div>

    <div class="change-password-section">
        <a style="color:red;font-size:13px;padding:5px;margin-left: 15px;" role="button" id="change-password-btn">Đổi mật khẩu</a>

        <div id="change-password-form" style="display: none;">
            <form id="myForm">
                <div class="form-group">
                    <label for="current-password">Mật khẩu hiện tại</label>
                    <input type="password" id="Password" name="Password" placeholder="Nhập mật khẩu hiện tại" required>
                </div>
                <div class="form-group">
                    <label for="new-password">Mật khẩu mới</label>
                    <input type="password" id="NewPassword" name="NewPassword" placeholder="Nhập mật khẩu mới" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Xác nhận mật khẩu mới</label>
                    <input type="password" id="ComfirmPassword" name="ComfirmPassword" placeholder="Nhập lại mật khẩu mới" required>
                </div>
                <button type="submit" class="btn btn-success" style="font-size:12px;">Xác nhận</button>
            </form>
        </div>
    </div>
    <form asp-action="Update" asp-controller="Account" method="post">
        <input type="hidden" asp-for="Id">



        <div class="container_ac">
            <div class="label_ac">Tên</div>
            <input type="text" asp-for="FullName" class="input-box_ac" placeholder="Nhập họ và tên" required>
        </div>
        <div class="container_ac">
            <div class="label_ac">SDT</div>
            <input type="text" asp-for="Phone" class="input-box_ac" placeholder="Nhập số điện thoại" required>
        </div>


        <div class="container">
            <button class="button-37" role="button" type="submit" style="font-size:12px;padding:10px">Lưu</button>
        </div>
        
    </form>
   
   

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
           
            $('#change-password-btn').on('click', function () {
                $('#change-password-form').slideToggle(); 
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#myForm').on('submit', function (e) {
                e.preventDefault();

                var formData = {
                    Password: $('#Password').val(),
                    NewPassword: $('#NewPassword').val(),
                    ComfirmPassword: $('#ComfirmPassword').val()
                };

                $.ajax({
                    url: '/Account/ChangePassword',
                    type: 'POST',
                    contentType: 'application/json', 
                    data: JSON.stringify(formData), 
                    success: function (response) {
                        if (response.success) {
                            swal({
                                title: "Thành công",
                                text: response.message,
                                icon: "success",
                                button: "OK",
                            });
                        }
                        else {
                            swal({
                                title: "Có lỗi xảy ra",
                                text: response.message,
                                icon: "error",
                                button: "OK",
                            });
                        }
                    },
                    error: function (error) {
                        alert('Có lỗi xảy ra!');
                        console.log(error);
                    }
                });
            });
        });
    </script>
}