@model List<PhoneShop.ModelViews.BannerViewModel>


@foreach (var i in Model)
{
    <li>
        <img src="~/images/Banner/@i.Image" style="width: 100%; height: 305px;" alt="Slide">
        <div class="caption-group">
            
           
            <a class="caption button-radius" href="#"><span class="icon"></span>Xem ngay</a>
        </div>
    </li>
}
