@model List<PhoneShop.ModelViews.VoucherViewModel>
@using PhoneShop.Extension
<style>
    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .product-item {
        /* Cấu hình cho mỗi sản phẩm */
        border: 1px solid;
    }
</style>
<div class="product-container">
    @foreach (var i in Model)
    {
        <div class="product-item">
            <p>@i.Code</p>
            <span>Hạn: @i.ExpiryDate</span>
            <p style="color:red">@PhoneShop.Extension.Extension.ToVnd((double)i.DiscountAmount)</p>
            <a class=" voucher btn btn-success" data-id="@i.Id">Lưu</a>
        </div>
    }
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.voucher', function () {
                var id = $(this).data('id');




                $.ajax({

                    url: '/Voucher/Add',
                    type: 'post',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            alert("Them thanh cong");

                            location.reload();
                        }
                        else {
                            alert("Them that bai");

                            location.reload();
                        }
                    }

                });


            });
        });
    </script>




}