@model List<PhoneShop.ModelViews.BannerViewModel>


@foreach (var i in Model)
{
    <li>
        <img src="~/images/Banner/@i.Image" style="width: 1205px; height: 378px;" alt="Slide">
        <div class="caption-group">
            <h2 class="caption title">
                iPhone <span class="primary">6 <strong>Plus</strong></span>
            </h2>
            <h4 class="caption subtitle">Dual SIM</h4>
            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
        </div>
    </li>
}
