@model List<PhoneShop.Models.Product>
@{
    int tienO = 0;
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row" style="background:white;padding-bottom: 15px;padding:0px 10px">
            <div class="col-md-12">
                <div class="latest-product">

                    <br />
                    <div style="margin-bottom: 10px;" class="section-title">
                        <h3 style="text-align: left; margin-bottom:0PX;">Có thể bạn quan tâm</h3>
                    </div>

                    <div class="product-carousel">

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        @*                                         <img src="~/User/img/product-1.jpg" alt="">
                                *@            <img src="~/images/Product/@item.ImageDefaultName" style="height:296px; width:220px" />
                                        @* tinh % giam gia *@
                                        @if (item.Discount > 0)
                                        {
                                            //format discount
                                            decimal discount = 0;
                                            discount = (item.Price - item.Discount) / item.Price * 100;
                                            discount = Math.Round(discount);
                                            //format discount
                                            <div class="discount-label">
                                                <span>Giảm @discount%</span>
                                            </div>
                                        }
                                        @* tinh % giam gia *@
                                        <div class="product-hover">
                                            <a class="add-to-cart-link confirmAdd" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="/chi-tiet/@item.Alias-@item.Id" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                        </div>
                                    </div>

                                    <div style="height:45px">
                                        <h2><a style="height:45px" href="/chi-tiet/@item.Alias-@item.Id">@item.Title </a></h2>
                                    </div>


                                    <div class="product-carousel-price">


                                        @{
                                            if (item.Discount == 0 || item.Discount == null || item.Discount is string)
                                            {
                                                <ins style="color:red">
                                                    @{






                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price);

                                                    }
                                                    @formattedPrice
                                                </ins>
                                            }
                                            else
                                            {
                                                <ins style="color:red">
                                                    @{





                                                        string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Discount);


                                                    }
                                                    @formattedPrice
                                                </ins>
                                            }
                                        }

                                        @{
                                            string formattedPrice2;
                                            if (item.Discount > 0)
                                            {


                                                formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)item.Price);
                                                <del>@formattedPrice2</del>
                                            }



                                        }






                                    </div>

                                </div>
                            }
                        }






                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
