@using PhoneShop.Models;
@{
    ViewData["Title"] = "demo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<City> ListCity = ViewBag.ListCity;
}
<section class="content">
    <div class="card">
    <form method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <select name="City" class="form-control tinh">
                    <option value="" selected>chon tinh</option>
                    @foreach (var i in ListCity)
                    {
                        <option value="@i.Id">@i.Title</option>

                    }
                </select>
            </div>
            <br>
            <!-- theem quan -->
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <select name="District" class="form-control quan">
                </select>
            </div>
            <br>
    </form>


 </div>


</section>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".tinh").change(function () {
                var id = $(".tinh").val();

                $.post("/Home/GetDistricts", { id: id }, function (data) {
                    $(".quan").html(data);
                })
            })
        })
    </script>


}