
@{
    ViewData["Title"] = "demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="loadProvinces()">
    <form>
        <div>
            <label for="province">Tỉnh thành:</label>
            <select id="province">
                <!-- Các option của tỉnh thành sẽ được thêm bằng JavaScript -->
            </select>
        </div>
    </form>
</body>
<form>
    <div>
        <label for="province">Tỉnh thành:</label>
        <select id="province" onchange="loadDistricts()">
            <option value="">Chọn tỉnh thành</option>
            <!-- Các option của tỉnh thành -->
        </select>
    </div>

    <div>
        <label for="district">Huyện:</label>
        <select id="district" onchange="loadWards()">
            <option value="">Chọn huyện</option>
            <!-- Các option của huyện -->
        </select>
    </div>

    <div>
        <label for="ward">Phường:</label>
        <select id="ward">
            <option value="">Chọn phường</option>
            <!-- Các option của phường -->
        </select>
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadProvinces() {
            $.ajax({
                url: '/Home/GetProvinces',
                type: 'GET',
              
                success: function (data) {
                    var provinceDropdown = document.getElementById('province');
                    provinceDropdown.innerHTML = '';

                    // Thêm các option mới cho dropdown 'province'
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i].Id;
                        option.text = data[i].Title;
                        provinceDropdown.appendChild(option);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function loadDistricts() {
            var provinceId = document.getElementById('province').value;

            // Gửi yêu cầu AJAX để lấy danh sách huyện từ controller
            // Ví dụ: '/api/districts?provinceId=' + provinceId
            // Sau khi nhận được danh sách huyện, cập nhật dropdown 'district' với các option tương ứng
        }

        function loadWards() {
            var districtId = document.getElementById('district').value;

            // Gửi yêu cầu AJAX để lấy danh sách phường từ controller
            // Ví dụ: '/api/wards?districtId=' + districtId
            // Sau khi nhận được danh sách phường, cập nhật dropdown 'ward' với các option tương ứng
        }
    </script>


}