@using PhoneShop.ModelViews
@using PhoneShop.Models
@{
    ViewData["Title"] = "Utilities";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Account GetAccount = ViewBag.GetAccount;

    VoucherItemViewModel MyVoucher = ViewBag.MyVoucher;

    List<City> ListCity = ViewBag.ListCity;

    List<OrderViewModel> MyOrders = ViewBag.MyOrders;


}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<style>
    
     /* Menu dọc bên trái */
    .row {
        display: flex;
    }

    /* Menu dọc bên trái */
    .sidebarr {
        width: 200px;
        height: 100vh;
        background-color: #f1f1f1;
        padding: 20px;
    }

    .sidebarr ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebarr li {
        margin-bottom: 10px;
    }

   

        a:hover {
            background-color: #ddd;
        }

    /* Nội dung bên phải */
    .content {
        flex: 1;
        padding: 20px;
    }


</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 18px;"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Tiện ích</li>
        </ol>
    </nav>
</div>
@await Component.InvokeAsync("MenuUtilities")
<div class="container" style="min-height:600px">
    
    <div class="row">
        @await Html.PartialAsync("_Layout_SideBar_Utilities")
       
        <div class="content">


           


            <div id="content1" class="content-item">
               
                @await Html.PartialAsync("_Partial_Utilities_Account",GetAccount)
            </div>
            <div id="content4" class="content-item">
                @await Html.PartialAsync("_Partial_Utilities_MyOrders",MyOrders)
            </div>
            <div id="content5" class="content-item">
                @await Html.PartialAsync("_Partial_Utilities_MyVoucher",MyVoucher)
               
            </div>

            <div id="content6" class="content-item">
                @await Html.PartialAsync("_Partial_Utilities_MyAddress",ListCity)
            </div>
        </div>
    </div>
    </div>

<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.voucher', function () {
                var id = $(this).data('id');




                $.ajax({

                    url: '/Voucher/Add',
                    type: 'post',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            alert("Them thanh cong");

                            location.reload();
                        }
                        else {
                            alert("Them that bai");

                            location.reload();
                        }
                    }

                });


            });
        });
    </script>


    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            showContent('content1'); // Hiển thị nội dung 1 mặc định khi trang được tải lên
        });

        function showContent(id) {
            var contents = document.getElementsByClassName("content-item");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }
            var content = document.getElementById(id);
            if (content) {
                content.style.display = "block";
            }
        }
    </script>

    
    <script>
        $(document).ready(function () {
            $(".tinh").change(function () {
                var id = $(".tinh").val();

                $.post("/Home/GetDistricts", { id: id }, function (data) {
                    $(".quan").html(data);
                })
            })

            $(".quan").change(function () {
                var idd = $(".quan").val();

                $.post("/Home/GetWards", { id: idd }, function (data) {
                    $(".phuong").html(data);
                })
            })
        })
    </script>


    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.imgproduct', function () {

                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/MyAddress/Index?id=" + proid);
                $("#dialog").dialog('open');
                return false;

            });

            $('body').on('click', '.Detail_Order_Account', function () {

                var orderid = $(this).attr("data-id_or");
                $("#dialog #myiframe").attr("src", "/Order/Index?id_order=" + orderid);
                $("#dialog").dialog('open');
                return false;

            });


        });


    </script>
   

   

}
