

<style>
    .utility-nav {
        background-color: #f5f5f5;
        border-bottom: 1px solid #e0e0e0;
       padding-top:15px;
       padding-bottom:10px;
    }

    .utility-nav-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

        .utility-nav-items li {
            margin: 0 25px;
            font-weight: 500;
            transition: font-weight 0.3s ease;
        }

            .utility-nav-items li a {
                color: #555;
                text-decoration: none;
                font-size: 14px;
                transition: color 0.3s ease;
            }

                .utility-nav-items li.active a,
                .utility-nav-items li a:hover {
                    color: #333;
                }

            .utility-nav-items li.active {
                font-weight: 700;
            }



</style>

<div class="utility-nav">
    <div class="container">
        <ul class="utility-nav-items" >
            <li><a href="/Utilities/Account"><i class="far fa-user" style="color: #74C0FC;"></i>Tài khoản</a></li>
            <li><a href="/Utilities/ListOrder"><i class="far fa-file-alt" style="color: #74C0FC;"></i>Đơn hàng của bạn</a></li>
            <li><a href="/Utilities/Voucher"> <i class="fas fa-ticket-alt" style="color:#ee4d2d"></i>Ví Voucher</a></li>
            <li><a href="/Utilities/MyAddress"><i class="fas fa-map-marker-alt" style="color: #2386d1;"></i>Địa chỉ nhận hàng</a></li>
            <li><a href="/Utilities/FollowBooth"><i class="fas fa-store"></i>Theo dõi gian hàng</a></li>
            <li><a href="/Utilities/ListProductFollow"><i class="fas fa-sitemap" style="color: #FFD43B;"></i>Xem sản phẩm</a></li>

        </ul>
    </div>
</div>

<script>
    // Lấy URL hiện tại
    const currentURL = window.location.pathname;

    // Lắng nghe sự kiện click trên các liên kết trong thanh tiện ích
    document.querySelectorAll('.utility-nav-items li a').forEach((link, index) => {
        link.addEventListener('click', function () {
            // Loại bỏ class 'active' trên tất cả các liên kết
            document.querySelectorAll('.utility-nav-items li').forEach(li => {
                li.classList.remove('active');
            });

            // Thêm class 'active' vào liên kết được click
            this.parentNode.classList.add('active');
        });

        // Kiểm tra liệu liên kết có khớp với URL hiện tại hay không
        if (link.getAttribute('href') === currentURL) {
            // Thêm class 'active' vào thẻ <li> chứa liên kết khớp
            link.parentNode.classList.add('active');
        }
    });
</script>