@model IEnumerable<PhoneShop.ModelViews.SupportDirectoryViewModel>
@using PhoneShop.ModelViews;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<SupportContentViewModel> supportContents = ViewBag.ListItemDetail_Support;

}
<style>
    

    .content {
        display: none;
        padding: 10px;
    }
</style>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Voucher</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container" style="min-height:600px">
    <div class="row">

        <h1>Hỗ trợ khách hàng</h1>

       

        @foreach(var item in Model)
        {
           
            <h2 class="collapsible">@item.Title</h2>
                <div class="content">
                <ul>
                @foreach (var i in supportContents)
                {
                    if(i.IdSpDirectory == item.Id)
                    {

                            <li> <a href="/Support_content/@i.Alias-@i.Id">@i.Title</a></li>
                       
                       
                    }
                    
                }
                </ul>
                    
                </div>
        }



        <h2>Liên hệ</h2>
        <p>Để biết thêm thông tin hoặc có câu hỏi, vui lòng liên hệ với chúng tôi qua:</p>
        <ul>
            <li>Số điện thoại: 0123456789</li>
            <li>Email: info@example.com</li>
            <li>Địa chỉ: 123 Đường ABC, Thành phố XYZ</li>
        </ul>
        

    </div>
</div>

@section Scripts{

    <script>
        var collapsibles = document.getElementsByClassName("collapsible");
        for (var i = 0; i < collapsibles.length; i++) {
            collapsibles[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>


}