

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="#" class="d-block">Quản lý gian hàng</a>
        </div>

    </div>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
            <li class="nav-item">
                <a href="/Home_Seller/Index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Thông tin
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>

            <li class="nav-item">
                <a href="/Statistics_Seller/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý thống kê
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                  
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Thống kê
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a href="/Statistics_Seller/index" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Ngày</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Statistics_Seller/Week" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Tuần</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Statistics_Seller/Month" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Tháng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Statistics_Seller/Year" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Năm</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                       

                  
                    <li class="nav-item">
                        <a href="/Statistics_Seller/BestSellers" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Top bán chạy</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Statistics_Seller/Statistical_Product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thống kê sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Statistics_Seller/Revenue_EveryDay" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doanh thu theo mốc</p>
                        </a>
                    </li>
                   

                </ul>
            </li>
            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý đơn hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Order_Seller/ListOrder" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách đơn hàng</p>
                        </a>
                    </li>


                </ul>
            </li>
          

           


            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Product_Seller/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Product_Seller/Create" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thêm sản phẩm</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Chăm sóc khách hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/CustomerCare/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản lý</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ReviewProduct_Seller/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Đánh Giá Sản Phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ReviewProduct_Seller/Review_Product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hỏi & Đáp</p>
                        </a>
                    </li>
                    

                </ul>
            </li>
            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Kênh Marketing
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Role/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Flash Sale của Shop</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Voucher_Seller/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Mã giảm giá của Shop</p>
                        </a>
                    </li>

                </ul>
            </li>
           
            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Tài chính
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Role/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doanh Thu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Accounts/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Số dư TK</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Accounts/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản lý TK Ngân hàng</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/Setting_Seller/Settings" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Cài đặt
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                       Trở về Website
                    </p>
                </a>
            </li>

           
            


        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
@*@if (Request.IsAuthenticated)
{
<div style="display:none">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
    {
    @Html.AntiForgeryToken()
    }

</div>
}
*@