@model PhoneShop.Data.Product_ReviewData
@{
    ViewData["Title"] = "CheckRwProduct";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
}

<div class="container">
    <p>@Model.Rate @Model.Content @Model.UserName @Model.TitleProduct</p>
</div>

