@model PhoneShop.Data.Product_ReviewData
@{
    ViewData["Title"] = "CheckRwProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="container">
    <b>Nội dung đánh giá</b>
    <p>@Model.CreateAt.ToString("dd/MM/yyyy hh:MM:ss")</p>
    <p>@Model.Content</p>
</div>

