.voucher-container {
    position: relative;
    display: inline-block;
}

    .voucher-container ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        list-style-type: none;
        z-index: 1000;
    }

        .voucher-container ul li {
            padding: 5px 10px;
            width: 100px;
        }

            .voucher-container ul li:hover {
                background-color: #f0f0f0;
            }

    .voucher-container:hover ul {
        display: block;
    }



.table.no-border {
    border-collapse: collapse;
    width: 100%;
}

    .table.no-border th, .table.no-border td {
        border: none;
    }

.minus {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

    .minus:hover {
        color: #888;
        text-decoration: none;
    }

td.product-name {
    font-size: 14px;
}

table.shop_table th {
    font-size: 13px;
}

/*  danh sach voucher */
.voucher-list {
    margin-top: 30px;
}

    .voucher-list h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.voucher-items {
    list-style-type: none;
    padding: 0;
}

.voucher-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .voucher-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .voucher-item p {
        margin: 5px 0;
    }
