@using PhoneShop.Models;
@{



    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;
    List<Category> ListCategoryMenu = ViewBag.ListCategoryMenu;

}

<link href="~/user/custom/menuhome_user.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />

<style>
    a {
        color: #888
    }
    .font-size{
        font-size: 15px
    }

    .btn:hover {
        color: #fff;
    }


    .search-form {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 5px 10px;
    }

    .search-input {
        flex: 1;
        border: none;
        background-color: transparent;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }

    .search-button {
        background-color: transparent;
        border: none;
        color: #666;
        padding: 10px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

        .search-button:hover {
            color: #333;
        }

        .search-button i {
            font-size: 18px;
        }

    

</style>


<div class="site-branding-area" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="~/"><img style="height:64px; width:176px" src="~/images/z5081071622409_00f78bf27f16bdb5817f5a3d8672b7a0.jpg"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="/cart.html" class="hover-effect">
                        Giỏ hàng - <span class="cart-amunt">
                            @{
                                string formattedPrice2;

                                formattedPrice2 = @ViewBag.GrandTotal.ToString("C", culture); // "C" là định dạng tiền tệ
                                
                              


                            }
                            @formattedPrice2
                        </span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.CountCart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->
@* 
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="hover-effect" href="/">Trang chủ</a></l>
                 
                    <li><a class="hover-effect" href="/Utilities.html">Tiện ích</a></li>
                    <li><a class="hover-effect" href="/support.html">Hỗ trợ</a></li>
                    
                </ul>
            
            </div>
        </div>
    </div>
</div>  *@


    <div class="container" >
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
       @*  <a href="./" class="navbar-brand font-size" >Trang chủ</a> *@
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropbtn navbar-brand font-size"><i class="fa-solid fa-list"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var i in ListCategoryMenu)
                    {

                        <li><a href="/@i.Alias-@i.Id">@i.Title</a></li>

                    }
                    
                </ul>
            </li>
            <li>
                <a class="navbar-brand font-size" href="/Utilities.html">Tiện ích</a>
            </li>
            <li>
               
                <form class="search-form" method="post" asp-action="Search_Product" asp-controller="Product" >
                    <input type="text" class="search-input" name="search_value" placeholder="Search...">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
               
            </li>
          
        </ul>
        </div>
       
    </div>

                                       