@using PhoneShop.Models;
@{



    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;
    List<Category> ListCategoryMenu = ViewBag.ListCategoryMenu;

}

<link href="~/user/custom/menuhome_user.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />

<style>
   
    
    .suggestions {
        max-height: 100px;
        overflow-y: auto;
        background-color: #fff;
    }

    .suggestion-item {
        padding: 8px;
        cursor: pointer;
    }

        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
    a {
        color: #888
    }
    .font-size{
        font-size: 15px
    }

    .btn:hover {
        color: #fff;
    }


    .search-form {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 5px 10px;
    }

    .search-input {
        flex: 1;
        border: none;
        background-color: transparent;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }

    .search-button {
        background-color: transparent;
        border: none;
        color: #666;
        padding: 10px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

        .search-button:hover {
            color: #333;
        }

        .search-button i {
            font-size: 18px;
        }



       /*  menu hover */
    .dropbtn_cate {
        background: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn_cate {
        background: none repeat scroll 0 0 #d7f9fa;
    }

    .search-container button.search-button {
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        border: 1px solid #0056b3;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
    }

        .search-container button.search-button:hover {
            background-color: #0056b3;
            border-color: #004080;
        }

    .search-container .suggestions {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        max-height: 200px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        z-index: 1;
    }

        .search-container .suggestions a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .search-container .suggestions a:hover {
                background-color: #f5f5f5;
            }
    

</style>


<div class="site-branding-area"   >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="~/"><img style="height:64px; width:176px" src="~/images/z5708583290992_d5705e872d89a3969d403076ca4435d5.jpg"></a></h1>
                    
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item" style="border-style: inset;">
                    <a href="/cart.html" class="hover-effect">
                        Giỏ hàng - <span class="cart-amunt">
                            @{
                                string formattedPrice2;

                                formattedPrice2 = @ViewBag.GrandTotal.ToString("C", culture); // "C" là định dạng tiền tệ
                                
                              


                            }
                            @formattedPrice2
                        </span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.CountCart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->



    <div class="container menuwt" style="background:white;width:100%;border-bottom:inset" >
      <div>
        <div class="navbar-header" style="margin-left: 126px;">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*  <a href="./" class="navbar-brand font-size" >Trang chủ</a> *@
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown" style="float:left;">
                        <button class="dropbtn_cate" style="background:white"><i class="fa-solid fa-list"></i> <b class="caret"></b></button>
                        <div class="dropdown-content" style="left:0;">
                            @foreach (var i in ListCategoryMenu)
                            {

                                <a href="/@i.Alias-@i.Id">@i.Title</a>

                            }
                        </div>
                    </div>
                </li>
                <li>
                    <a class="navbar-brand font-size" href="/Utilities/Account">Tiện ích</a>
                </li>
                <li>
                    <a class="navbar-brand font-size" href="/gian-hang.html">Xem gian hàng</a>
                </li>
                <li>

                    <form class="search-form" method="post" asp-action="Search_Product" asp-controller="Product">
                        @*  <input type="text" class="search-input" name="search_value" placeholder="Search..."> *@
                        <div class="search-container">
                            <input style="width: 60%;" type="text" id="searchInput" name="search_value" placeholder="Search..." autocomplete="off">
                            <button type="submit" class="search-button">
                                <i class="fas fa-search"></i>
                            </button>
                            <div id="suggestions" class="suggestions">
                            </div>

                        </div>

                    </form>



                </li>

            </ul>
        </div>
      </div>
       
    </div>

                                       