@model List<PhoneShop.Controllers.Seller.DataView.BestSellers_Product>
@{
    ViewData["Title"] = "BestSellers";
    Layout = "~/Views/Shared/Seller/_SellerLayout.cshtml";
    int index = 1;
    double PercentOfTheTotal = ViewBag.TotalQuantityProduct;
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/clients/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/clients/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/clients/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/clients/dist/css/adminlte.min.css">



<section class="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center mb-3">Sản phẩm bán chạy</h3>



            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 100px">#</th>
                            <th>Tên Sp</th>
                            <th style="width: 200px">Hình ảnh</th>
                            <th style="width: 100px">Đã bán</th>
                            <th style="width: 150px">Trên tổng Sp</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(index++)</td>
                                <td>@item.Title</td>
                                <td><img src="~/images/Product/@item.ImageProductDefault" width="100" height="100" style="border: solid 1px " /></td>
                                <td>
                                    @item.TotalQuantityPurchased
                                </td>
                                <td>@(Math.Round((item.TotalQuantityPurchased / PercentOfTheTotal) * 100,2))%</td>
                                
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<div id="dialog">
    <iframe id="myiframe" style="border:0;width:100%;height:100%"></iframe>
</div>
@section scripts_SellerHome{
    <!-- jQuery -->
    <script src="~/clients/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/clients/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/clients/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/clients/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/clients/plugins/jszip/jszip.min.js"></script>
    <script src="~/clients/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/clients/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/clients/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>






    <!-- AdminLTE App -->
    <script src="~/clients/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*     <script src="~/clients/dist/js/demo.js"></script>
     *@    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    @*  <script>
        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            $('.swalDefaultSuccess').click(function () {
                Toast.fire({
                    icon: 'success',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
    </script> *@
    
   


}


