@model PhoneShop.Models.Order
@using PhoneShop.Models;
@{
    ViewData["Title"] = "repository_payment_COD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    DeliveryProcess IsDeliveryProcess = ViewBag.item_DeliveryProcesses;
}

<form method="post" asp-action="Create_DeliveryProcess" asp-controller="Order">

    <label for="fruit">Trang thai don hang:</label>
    <select id="fruit" name="DeliveryStatus">
        <option value="1">Chuan bi hang</option>
        <option value="2">Dang xu ly</option>
        <option value="3">Da giao hang</option>
        <option value="0">Huy don hang</option>
    </select>
    <input type="text" name="Order_Id" value="@Model.Id_Order" hidden />
    <input type="date" name="DeliveryDate" placeholder="Ngay nhan hang du kien" />
    <input type="text" name="DeliveryAddress" placeholder="Dia chi nhan hang" value="@ViewBag.Address_Order" />
    <input type="submit" value="Submit">

</form>

@if (IsDeliveryProcess != null)
{
    
    @if (IsDeliveryProcess.DeliveryStatus == 1)
    {
        <h3>Trạng thái đơn hàng: Chuẩn bị hàng</h3>
    }
    else if (IsDeliveryProcess.DeliveryStatus == 2)
    {
        <h3>Trạng thái đơn hàng: Đang xử lý</h3>
    }
    else if (IsDeliveryProcess.DeliveryStatus == 3)
    {
        <h3>Trạng thái đơn hàng: Đã giao hàng</h3>
    }
    else
    {
        <h3>Trạng thái đơn hàng: Hủy đơn hàng</h3>
    }

    <h3>Ngày giao hàng dự kiến: @Model.Order_Date</h3>
    <h3>Địa chỉ nhận hàng: @IsDeliveryProcess.DeliveryAddress</h3>
}
