@model IEnumerable<PhoneShop.Models.Order_Details>
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";

    DeliveryProcess IsDeliveryProcess = ViewBag.DeliveryProcesses;
}
<h3>Chi tiết đơn hàng</h3>
@foreach(var i in Model)
{
    <div>@i.Product.Title</div>
}
<hr />
<br />
<br />
<br />
<h3>Ngày nhận hàng dự kiến</h3>
@if (IsDeliveryProcess != null)
{
    <p>Ngày nhận hàng: @IsDeliveryProcess.DeliveryDate</p>
    
    <p>@IsDeliveryProcess.DeliveryAddress</p>
    @if (IsDeliveryProcess.DeliveryStatus == 1)
    {
        <h5 class="coler_title">Trạng thái đơn hàng: Đang xử lý</h5>
    }
    else if (IsDeliveryProcess.DeliveryStatus == 2)
    {
        <h5 class="coler_title">Trạng thái đơn hàng: CHuẩn bị hàng</h5>
    }
    else if (IsDeliveryProcess.DeliveryStatus == 3)
    {
        <h5 class="coler_title">Trạng thái đơn hàng: Đang giao hàng</h5>
    }
    else if (IsDeliveryProcess.DeliveryStatus == 4)
    {
        <h5 class="coler_title">Trạng thái đơn hàng: Đã giao hàng</h5>
    }
    else
    {
        <h5 class="coler_title">Trạng thái đơn hàng: Hủy đơn hàng</h5>
    }
}
else
{

    <a>Don hang chua duoc giao</a>
}

