
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul>
                    @{
                        if (User.Identity.IsAuthenticated && (User.IsInRole("Staff")))
                        {
                            <li><a href="#"><i class="fa fa-user"></i>@ViewBag.GetNameLogin</a></li>
                        }
                        else
                        {
                            <li><a href="#"><i class="fa fa-user"></i>My Account</a></li>
                        }
                    }
                   
                    <li><a href="/dang-nhap.html"><i class="fa fa-heart"></i> Admin</a></li>
                    <li><a href="/cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                    <li><a href="/checkout.html"><i class="fa fa-user"></i> Checkout</a></li>

                   
                            
                        
                           
                     

                    
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="header-right">
                <ul class="list-unstyled list-inline">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Staff")))
                    {
                        <li class="dropdown dropdown-small">
                            <a class="dropbtn navbar-brand font-size" style="font-size: 13px;">@ViewBag.GetNameLogin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout-user.html">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }else{
                        <li class="dropdown dropdown-small">
                            <a class="dropbtn navbar-brand font-size" style="font-size: 13px;">Tài khoản</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Login.html">Đăng nhập</a></li>
                            </ul>
                        </li>

                    }
                   
                </ul>
            </div>
        </div>
    </div>
</div>