
<style>
   

    .header-area {
        background: #5a88ca;
    }

    .text-color{
        color:white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul>
                  
                    
                     @if (ViewBag.GetNameLogin != null)
                        {
                        <li><a href="/kenh-nguoi-ban.html" style="color:white"><i class="fa-regular fa-message"></i> Kênh người bán</a></li>

                        }
                    <li><a href="/dang-nhap.html" class="text-color" style="color:white"><i class="fa fa-heart "></i> Admin</a></li>
                    <li><a href="/support.html" style="color:white"><i class="fa-solid fa-circle-info "></i> Hỗ trợ</a></li>
                    <li><a href="/gioi-thieu.html" style="color:white"><i class="fa-solid fa-phone"></i> Giới Thiệu</a></li>

                   
                            
                        
                           
                     

                    
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="header-right">
                <ul class="list-unstyled list-inline">
                    @if (ViewBag.GetNameLogin != null)
                    {
                        <li class="dropdown dropdown-small" style="height:30px">
                            <a class="dropbtn navbar-brand font-size" style="font-size: 13px;color:white"><i class="fa fa-user-o" aria-hidden="true"></i>@ViewBag.GetNameLogin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Utilities/ListOrder" class=" text-color">Đơn hàng của tôi</a></li>
                                <li><a href="/Utilities/Account" class=" text-color">Tài khoản</a></li>
                                <li><a href="/logout-user.html" class=" text-color">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }else{
                        <li class="dropdown dropdown-small" style="height:30px">
                            <a class="dropbtn navbar-brand font-size" href="Account/Index" style="font-size: 13px;color:white">Đăng Ký</a>
                            <a class="dropbtn navbar-brand font-size  text-color" href="/Login.html" style="font-size: 13px;color:white">Đăng Nhập</a>
                            
                        </li>

                    }
                   
                </ul>
               
            </div>
        </div>
    </div>
</div>