
<style>


    .header-area {
        background: none repeat scroll 0 0 #d7f9fa;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul>
                  
                    
                     @if (ViewBag.GetNameLogin != null)
                        {
                        <li><a href="#"><i class="fa-regular fa-message"></i> Kênh người bán</a></li>

                        }
                    <li><a href="/dang-nhap.html"><i class="fa fa-heart"></i> Admin</a></li>
                    <li><a href="/support.html"><i class="fa-solid fa-circle-info"></i> Hỗ trợ</a></li>
                    <li><a href="#"><i class="fa-solid fa-phone"></i> Liên hệ</a></li>

                   
                            
                        
                           
                     

                    
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="header-right">
                <ul class="list-unstyled list-inline">
                    @if (ViewBag.GetNameLogin != null)
                    {
                        <li class="dropdown dropdown-small" style="height:30px">
                            <a class="dropbtn navbar-brand font-size" style="font-size: 13px;">@ViewBag.GetNameLogin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout-user.html">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }else{
                        <li class="dropdown dropdown-small" style="height:30px">
                            <a class="dropbtn navbar-brand font-size" style="font-size: 13px;">Tài khoản</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Login.html">Đăng nhập</a></li>
                            </ul>
                        </li>

                    }
                   
                </ul>
               
            </div>
        </div>
    </div>
</div>