
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chào @ViewBag.NameLogin</h1>
            </div>
            <br />
            

        </div>
        <div class="row-cols-1">
            <p>Có @ViewBag.CheckProductIsApproved đang chờ phê duyệt</p>
            <a class="btn btn-app" href="/Admin/Product/Index">
                <i class="fas fa-edit"></i> Tiến hành
            </a>
        </div>
    </div><!-- /.container-fluid -->
</section>


