
@{
    ViewData["Title"] = "NotFoundApp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
      body {
         font-family: Arial, sans-serif;
         background-color: #f4f4f4;
      }

      .container {
         max-width: 500px;
         margin: 0 auto;
         padding: 20px;
         background-color: #fff;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h1 {
         font-size: 24px;
         margin-top: 0;
      }

      p {
         font-size: 16px;
      }
   </style>
<div class="container">
    <h1>404 - Not Found</h1>
    <p>Không tìm thấy trang.</p>
</div>

