@using PhoneShop.ModelViews
@model List<ProductViewModel>
@{


  ;
    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

    int tienO = 0;
}
<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    <div class="related-products-carousel">
        @foreach(var item in Model)
        {
            <div class="single-product">
                <div class="product-f-image">
                    <img src="~/images/Product/@item.ImageDefaultName" style="height:296px; width:220px;" alt="">
                    <div class="product-hover">
                        <a class="add-to-cart-link confirmAdd" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="/chi-tiet/@item.Alias-@item.Id" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>

                <h2><a href="">@item.Title</a></h2>

                <div class="product-carousel-price">
                   
                    @{
                        if (item.Discount == 0 || item.Discount == null || item.Discount is string)
                        {
                            <ins>
                                @{



                                    string formattedPrice = item.Price.ToString("C", culture); // "C" là định dạng tiền tệ




                                }
                                @formattedPrice
                            </ins>
                        }
                        else
                        {
                            <ins>
                                @{



                                    string formattedPrice = item.Discount.ToString("C", culture); // "C" là định dạng tiền tệ




                                }
                                @formattedPrice
                            </ins>
                        }
                    }
                </div>
            </div>
        }

    </div>
</div>


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.confirmAdd', function () {
                var id = $(this).data('id');

                var conf = confirm("Muon them vao gio hang");

                if (conf == true) {

                    $.ajax({

                        url: '/Cart/Add',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                alert("Them thanh cong");
                                // alert(rs.msg);
                                location.reload();
                            }
                        }

                    });

                }
            });
        });
    </script>


}

