@model List<PhoneShop.ModelViews.ProductViewModel>
@using PhoneShop.Extension;
@{
    ViewData["Title"] = "Search_Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

   

    double tienO = 0;
}





    <div class="container" style="padding-top:30px; background:white; min-height:600px">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background:white">
                    <li class="breadcrumb-item" style="font-size: 18px;"><a href="~/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">@ViewBag.Value_Search_Form</li>
                </ol>
            </nav>
            @if (Model.Count == 0)
            {
                <div class="single-product-area" style="padding-top:30px">
                    <div class="zigzag-bottom"></div>
                    <div class="container">
                        <div class="row">
                            <h2>Hiện chưa có sản phẩm</h2>
                        </div>
                    </div>

                </div>



            }

            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-product">
                        <div class="product-f-image" style="display: flex; justify-content: center; align-items: center;">
                            <img src="~/images/Product/@item.ImageDefaultName" style="height:296px; width:220px" />

                            <div class="product-hover">
                                <a class="add-to-cart-link confirmAdd" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                <a href="/chi-tiet/@item.Alias-@item.Id" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                            </div>
                        </div>

                        <div style="height:45px">
                            <h2><a style="height:45px" href="/chi-tiet/@item.Alias-@item.Id">@item.Title </a></h2>
                        </div>


                        <div class="product-carousel-price">


                            @{
                                if (item.Discount == 0 || item.Discount == null || item.Discount is string)
                                {
                                    <ins style="color:red">
                                        @{






                                            string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Price);

                                        }
                                        @formattedPrice
                                    </ins>
                                }
                                else
                                {
                                    <ins style="color:red">
                                        @{





                                            string formattedPrice = PhoneShop.Extension.Extension.ToVnd((double)item.Discount);


                                        }
                                        @formattedPrice
                                    </ins>
                                }
                            }

                            @{
                                string formattedPrice2;
                                if (item.Discount > 0)
                                {


                                    formattedPrice2 = PhoneShop.Extension.Extension.ToVnd((double)item.Price);
                                    <del>@formattedPrice2</del>
                                }



                            }






                        </div>


                    </div>
                </div>

            }





        </div>
    </div>

