<div class="sidebarr">
    <ul class="vertical-menu">
       
        <li><a href="#" onclick="showContent('content1')">Thông tin tài khoản</a></li>
        <li><a href="#" onclick="showContent('content4')">Đơn hàng của tôi</a></li>
        <li><a href="#" onclick="showContent('content5')">Ví Voucher</a></li>
        <li><a href="#" onclick="showContent('content6')">Địa chỉ nhận hàng</a></li>
    </ul>
   
</div>