<!DOCTYPE html>
<html lang="en">
<head>
   



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PhoneShop</title>

    <link rel="icon" href="~/images/logo.jpg" type="image/png" />

   

    <link href="~/css/btn-user.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/User/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/User/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/User/css/owl.carousel.css">
    <link rel="stylesheet" href="~/User/css/style.css">
    <link rel="stylesheet" href="~/User/css/responsive.css">


    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <link href="~/user/user/css/awesome4.7.css" rel="stylesheet" />

    <link href="~/user/css/breadcrumb.css" rel="stylesheet" />

    <link href="~/user/alert/toastr.min.css" rel="stylesheet" />

    <script src="~/user/user/js/analytics-browser-2.7.4.js"></script>
    <link href="~/user/custom/btnct.css" rel="stylesheet" />

     <script src="https://cdn.amplitude.com/libs/analytics-browser-2.7.4-min.js.gz"></script>
    <script src="https://cdn.amplitude.com/libs/plugin-session-replay-browser-1.4.1-min.js.gz"></script>
    <script src="https://cdn.amplitude.com/libs/plugin-autocapture-browser-0.9.0-min.js.gz"></script>
    <script>window.amplitude.add(window.sessionReplay.plugin({ sampleRate: 1 })).promise.then(function () { window.amplitude.add(window.amplitudeAutocapturePlugin.plugin()); window.amplitude.init('1d4ef5c6eb29fd0df64f626433cf89f9'); });</script>





    <link href="~/user/alert/sweetalert.css" rel="stylesheet" />

    <style>
        .container {
            width: 1241px;
        }

        .scroll-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            display: none; 
        }

            .scroll-to-top:hover {
                background-color: #c82333;
            }

        .blue-line {
            border: none; 
            height: 2px;
            background-color: #5a88ca; 
            margin: 20px 0;
        }

        .social-icons {
            display: flex; 
            justify-content: center; 
            margin: 20px 0;
        }

        .icon {
            background-color: #3b5998; 
            color: white; 
            padding: 10px;
            margin: 5px; 
            border-radius: 5px; 
            width: 47px; 
            text-align: center; 
            font-size: 18px; 
        }

            .icon.twitter {
                background-color: #1DA1F2; 
            }

            .icon.youtube {
                background-color: #FF0000; 
            }

            .icon.linkedin {
                background-color: #0077B5; 
            }

        .service-box {
            background-color: white; 
            border: 1px solid #e0e0e0; 
            border-radius: 5px; 
            padding: 20px; 
            text-align: center; 
            margin-bottom: 20px; 
        }

        .icon-icon {
            font-size: 40px;
            color: #5a88ca;
            margin-bottom: 10px; 
        }


       

       

    </style>
</head>



<body style="background:#f5f5f5;padding-top: 116px;">

   

    <button class="scroll-to-top" id="scrollToTopBtn">▲ Lên đầu</button>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="header-area ">


            @await Component.InvokeAsync("MenuTop")

        </div> <!-- End header area -->
        @await Component.InvokeAsync("Menu")

    </div>

   

    

   
    @RenderBody() 
    <hr class="blue-line">

    <div class="footer-top-area" style="background:#f5f5f5;padding-bottom:50px">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us" style="text-align:center">
                        <img style="height:64px; width:176px" src="~/images/z5708583290992_d5705e872d89a3969d403076ca4435d5.jpg">
                        <div class="social-icons">
                            <div class="icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="icon twitter">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="icon youtube">
                                <i class="fa fa-youtube"></i>
                            </div>
                            <div class="icon linkedin">
                                <i class="fa fa-linkedin"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-9 col-sm-9">
                    <div class="footer-menu">
                        <b style=" text-transform: uppercase;color:black">PhoneShop - Mua Sắm Thả Ga - Không Lo Về Giá!</b>
                        <p style="font-family:Roboto,sans-serif">Ứng dụng mua sắm trực tuyến an toàn và miễn phí, nơi cung cấp những mẫu điện thoại phù hợp với nhu cầu của người tiêu dùng</p>
                        <b style=" text-transform: uppercase;color:black">MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN</b>
                        <p style="font-family:Roboto,sans-serif">PhoneShop là một trang thương mại điện tử tại đây bạn có thể bán điện thoại do bạn là doanh nghiệp nhỏ hay người dùng mới vẫn có thể tạo gian hàng bán lại cho người tiêu dùng,
                            sử dụng mô hình kinh doanh đang rất phổ biến nhất hiện nay là doanh nghiệp với người tiêu dùng, người tiêu dùng và người tiêu dùng</p>
                    </div>
                </div>
               <div style="text-align:center">
                   <p>NNL</p>
                   <p>Địa chỉ: 1/130 Kv Thới Trinh, Phường Thới An, Quận Ô Môn, Thành Phố Cần Thơ, Việt Nam</p>
                    <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Ngọc Lễ</p>
               </div>

               
            </div>
        </div>
    </div> <!-- End footer top area -->


    <!-- Latest jQuery form server -->
    @* <script src="https://code.jquery.com/jquery.min.js"></script> *@
    <script src="~/user/user/js/jquery.js"></script>


    <!-- Bootstrap JS form CDN -->
   @*  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> *@
    <script src="~/user/user/js/bootstrap.min.js.js"></script>
    <!-- jQuery sticky menu -->
    <script src="~/User/js/owl.carousel.min.js"></script>
    <script src="~/User/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/User/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/User/js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/User/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/User/js/script.slider.js"></script>
    <script src="~/user/user/js/jquery3.6.js"></script>
   @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@
    
    @* // search_trie *@
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            //tien to
            const query = this.value;

            if (query.length > 0) {
                fetch(`/Product/demoget?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        const suggestionsDiv = document.getElementById('suggestions');
                        suggestionsDiv.innerHTML = '';
                        data.forEach(item => {
                            const suggestionItem = document.createElement('a');
                            suggestionItem.classList.add('suggestion-item');
                            suggestionItem.textContent = item.title;
                            suggestionItem.href = '/chi-tiet/'+item.alias+'-'+item.id; // them duong dan href
                            suggestionItem.addEventListener('click', () => {
                                document.getElementById('searchInput').value = suggestionItem.href;
                                suggestionsDiv.innerHTML = '';
                            });
                            suggestionsDiv.appendChild(suggestionItem);
                            suggestionsDiv.appendChild(document.createElement('br')); 
                        });
                    });
            } else {
                document.getElementById('suggestions').innerHTML = '';
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*     <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
 *@    <script src="~/user/user/js/jquery-ui.js"></script>

    <script>
        // Hiện/ẩn nút khi cuộn trang
        window.onscroll = function () {
            const button = document.getElementById("scrollToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                button.style.display = "block";
            } else {
                button.style.display = "none";
            }
        };

        // Cuộn lên đầu trang khi nhấn nút
        document.getElementById("scrollToTopBtn").onclick = function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Cuộn mượt mà
            });
        };
    </script>


    


    <script>
        $(document).ready(function () {

            //dialog anh

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: '',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.imgproduct', function () {

                var proid = $(this).attr("data-id");
                $("#dialog #myiframe").attr("src", "/MyAddress/Index?id=" + proid);
                $("#dialog").dialog('open');
                return false;

            });

            $('body').on('click', '.Detail_Order_Account', function () {

                var orderid = $(this).attr("data-id_or");
                $("#dialog #myiframe").attr("src", "/Order/Index?id_order=" + orderid);
                $("#dialog").dialog('open');
                return false;

            });
          
            
        });
      

    </script>


    <script>
        $(document).ready(function () {
            $('body').on('click', '.confirmAdd', function () {
                var id = $(this).data('id');





                $.ajax({

                    url: '/Cart/Add',
                    type: 'post',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {


                            toastr.success(rs.msg, 'Thành Công', {

                                closeButton: true,
                                progressBar: true,
                                timeOut: 2000,
                                positionClass: 'toast-top-right',
                                onHidden: function () {
                                    window.location.reload();
                                },

                            });
                        }

                        else {
                            swal({
                                title: "Có lỗi xảy ra",
                                text: rs.msg,
                                icon: "error",
                                button: "OK",
                            });
                        }


                    }

                });


            });


        });
    </script>



    <script src="~/user/alert/sweetalert.js"></script>
    <script src="~/user/alert/toastr.min.js"></script>
 
    @RenderSection("Scripts", required: false)

   
</body>
</html>



