@using PhoneShop.Models;
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{


    List<ImageProduct> IsCourseContents = ViewBag.imageproduct;

    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;
                   
    // MyAddress IsMyAddress = ViewBag.getMyAddress ?? new MyAddress();
    //neu tra ve rong thi tao moi 1 gia tri rong de tra ve input

}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm</h2>
                    <form action="">
                        <input type="text" placeholder="Nhập sản phẩm...">
                        <input type="submit" value="gửi">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
               
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="single-product.html">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.html">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.html">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.html">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.html">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        
                     

                        <form enctype="multipart/form-data" asp-action="SubmitCheckOut" asp-controller="Cart" class="checkout" method="post" name="checkout">

                            <div id="customer_details" class="col2-set">
                                <div class="col-1">
                                    <div class="woocommerce-billing-fields">
                                        <h3>Thông tin nhận hàng</h3>


                                        <div class="input-group">
                                            <label>Sử dụng địa chỉ mặc định </label>
                                            <select style="padding: 8px" name="OptionAddress" class="form-control" onchange="toggleAddressFields()">
                                                <option value="1">Có</option>
                                                <option value="0">Không</option>
                                            </select>
                                        </div>

                                        <div id="address-fields" style="display: none;">
                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Tên người đặt hàng <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="" id="billing_first_name" name="Order_Name" class="input-text ">
                                            </p>

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Địa chỉ <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="Address" id="billing_first_name" name="Address" class="input-text ">
                                            </p>

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Ghi chú <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="Address" id="billing_first_name" name="Description" class="input-text ">
                                            </p>

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    loại địa chỉ <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <select name="AddressType" class="form-control tinh">
                                                    <option value="1">Chỗ ở cá nhân</option>
                                                    <option value="2">Nơi làm việc</option>
                                                    <option value="3">Khác</option>
                                                </select>
                                               
                                            </p>

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Số điện thoại <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="Phone" id="billing_first_name" name="Phone" class="input-text ">
                                            </p>
                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Email <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="Email" id="billing_first_name" name="Email" class="input-text ">
                                            </p>
                                        </div>

                                        <label>Phương thức thanh toán</label>
                                        <ul class="payment_methods methods">
                                        <li class="payment_method_bacs">
                                                <input type="radio" data-order_button_text="" checked="checked" value="1" name="PaymentMethod" class="input-radio" id="payment_method_bacs">
                                                <label for="payment_method_bacs">Thanh toán khi nhận hàng </label>
                                                <div class="payment_box payment_method_bacs">
                                                @* <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p> *@
                                                </div>
                                        </li>
                                       @*  <li class="payment_method_cheque">
                                                <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                                                <label for="payment_method_cheque">Cheque Payment </label>
                                                <div style="display:none;" class="payment_box payment_method_cheque">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                        </li> *@
                                        <li class="payment_method_paypal">
                                                <input type="radio" data-order_button_text="Proceed to PayPal" value="2" name="PaymentMethod" class="input-radio" id="payment_method_paypal">
                                        <label for="payment_method_paypal">
                                                    VnPay <img alt="VnPay Acceptance Mark" src="https://vnpayqr.vn/wp-content/uploads/2021/10/Logo-VNPAY-QR.png"><a title="What is VnPay?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                        </label>
                                        <div style="display:none;" class="payment_box payment_method_paypal">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                        </div>
                                        </li>
                                        </ul>
                                        
                                      

                                    </div>
                                </div>


                                

                            </div>

                            <h3 id="order_review_heading">Đơn hàng của bạn</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table">
                                   @*  <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead> *@
                                   
                                    <tfoot>

                                       @*  <tr class="cart-subtotal"> *@
                                     @*        <th>Cart Subtotal</th>
                                            <td>
                                                <span class="amount">£15.00</span>
                                            </td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>

                                                Free Shipping
                                                <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                            </td>
                                        </tr> *@


                                        <tr class="order-total">
                                            <th>Tổng đơn hàng</th>
                                            <td><strong><span class="amount">

                                                        @{
                                                            string formattedPriceTotal = ViewBag.GrandTotal.ToString("C", culture); // "C" là định dạng tiền tệ

                                                        }
                                                        @formattedPriceTotal
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>


                                <div id="payment">
                                    @* <ul class="payment_methods methods">
                                        <li class="payment_method_bacs">
                                            <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                                            <label for="payment_method_bacs">Direct Bank Transfer </label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_cheque">
                                            <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                                            <label for="payment_method_cheque">Cheque Payment </label>
                                            <div style="display:none;" class="payment_box payment_method_cheque">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_paypal">
                                            <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
                                            <label for="payment_method_paypal">
                                                PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                            </label>
                                            <div style="display:none;" class="payment_box payment_method_paypal">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                            </div>
                                        </li>
                                    </ul> *@

                                    <div class="form-row place-order">

                                        <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function toggleAddressFields() {
            var optionAddress = document.querySelector('select[name="OptionAddress"]');
            var addressFields = document.getElementById('address-fields');

            if (optionAddress.value === '0') {
                addressFields.style.display = 'block';
            } else {
                addressFields.style.display = 'none';
            }
        }
    </script>

}



