@model PhoneShop.Models.Order
@using PhoneShop.Models;
@{
    ViewData["Title"] = "Order_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Order_Details Is_Info_Address = ViewBag.Info_Address;

}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 18px;"><a href="/~">Trang chủ</a></li>
            <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Giỏ hàng</li>
        </ol>
    </nav>

</div>

<div class="container">
    <h4>Đặt hàng thành công</h4>
    <div style="border: 1px solid">
        <div>@Is_Info_Address.Order_Name</div>
        <div>@Model.Order_Date</div>
        <div>@Model.Total_Order</div>
        <div>@Model.Id_Order</div>
    </div>
    <a href="~/">Trở về trang chủ</a>
</div>



