@model List<PhoneShop.ModelViews.VoucherViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //format tien

    // Lấy mã vùng địa phương cho tiếng Việt nếu có, nếu không thì chọn một mã vùng khác
    CultureInfo culture = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                                    .FirstOrDefault(c => c.Name.StartsWith("vi", StringComparison.OrdinalIgnoreCase))
                           ?? CultureInfo.CurrentCulture;

   
}


<style>
    .discount-item {
        display: inline-block;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-right: 10px;
        width: 23%;
    }

    /* Các phần tử bên trong .discount-item tương tự như trong ví dụ trước */

    .discount-image img {
        width: 100px;
        height: 100px;
    }

    .discount-info {
        margin-left: 10px;
    }

    .discount-title {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
    }

    .discount-description {
        font-size: 14px;
        color: #666666;
    }

    .discount-button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #ff5722;
        color: #ffffff;
        text-decoration: none;
        border-radius: 3px;
    }

        .discount-button:hover {
            background-color: #ff7043;
        }


      

    
</style>


<br />


<div class="container" style="min-height:600px;background:white">


    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background:white;margin-bottom:0px">
                <li class="breadcrumb-item" style="font-size: 18px;"><a href="~/">Trang chủ</a></li>
                <li class="breadcrumb-item active" style="font-size: 18px;" aria-current="page">Mã giảm giá</li>
            </ol>
            <p style="color:red; font-size:12px">Mã Giảm Giá Chỉ Áp dụng Cho Sản Phẩm Thuộc Gian Hàng</p>
        </nav>


    </div>
    
    <div class="row">
       

        @foreach(var item in Model)
        {
            <div class="discount-item">
               
                <div class="discount-info">
                    <h3 class="discount-title"> @item.Code</h3>
                    <p class="discount-description">
                        @{



                            string DiscountAmount = item.DiscountAmount.ToString("C", culture); // "C" là định dạng tiền tệ




                        }
                        Giảm: @DiscountAmount
                    </p>
                    <p class="discount-description">
                        @{



                            string DiscountConditions = item.DiscountConditions.ToString("C", culture); // "C" là định dạng tiền tệ




                        }
                        Điều kiện: @DiscountConditions
                    </p>
                    <a data-id="@item.Id" class="discount-button voucher">Sử dụng ngay</a>
                </div>
            </div>

           
        }

    </div>

   
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.voucher', function () {
                var id = $(this).data('id');
                          
               
                

                    $.ajax({

                        url: '/Voucher/Add',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                alert("Them thanh cong");

                                location.reload();
                            }
                            else {
                                alert("Them that bai");

                                location.reload();
                            }
                        }

                    });

                
            });
        });
    </script>
        

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            showContent('content1'); // Hiển thị nội dung 1 mặc định khi trang được tải lên
        });

        function showContent(id) {
            var contents = document.getElementsByClassName("content-item");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }
            var content = document.getElementById(id);
            if (content) {
                content.style.display = "block";
            }
        }
    </script>

}