

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="#" class="d-block">Quản trị viên</a>
        </div>
    
    </div>
   

    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="/admin/Statistical/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thống kê
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>


            <li class="nav-item">
                <a href="/admin/Banner/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Banner
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>

           
            <li class="nav-item">
                <a href="/admin/Product/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Sản phẩm
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>

            <li class="nav-item">
                <a href="/admin/Category/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/Order/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Quản lý đơn hàng
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/VoucherAd/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý Voucher
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/SupportDirectoryAd/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Quản lý hỗ trợ
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/SupportContents/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý nội dung hỗ trợ
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/Introduces/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Giới thiệu
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            
            

            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý tài khoản
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Role/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Phân quyền</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Accounts/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tài khoản </p>
                        </a>
                    </li>

                </ul>
            </li>

           
          
            <li class="nav-item">
                <a href="/logout.html" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->


@*@if (Request.IsAuthenticated)
{
<div style="display:none">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
    {
    @Html.AntiForgeryToken()
    }

</div>
}
*@